<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>自在Todo</title>
    <link rel="shortcut icon" href="/static/images/man.png">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="/static/css/materialize.css">
    <link href="https://cdn.bootcss.com/material-design-icons/3.0.1/iconfont/material-icons.min.css" rel="stylesheet">
    <!-- <link href="https://cdn.bootcss.com/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css"
        rel="stylesheet"> -->

    <link rel="stylesheet" href="/static/css/jquery.datetimepicker.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <style>
        .members_container {
            width: 75%;
        }

        .small {
            width: 20px;
            height: 20px;
        }
    </style>
</head>

<body>

    <!-- <div class="progress hide jindutiao">
        <div class="indeterminate"></div>
    </div> -->

    <!-- 左侧边栏 -->
    <ul class="sidenav sidenav-fixed">
        <li>
            <div class="user-view">
                <div class="background">
                    <img src="/static/images/moutain.jpg">
                </div>
                <a href="#user"><img class="circle" src="{{ user.icon }}"></a>
                <a href="#name"><span class="white-text name">{{ user.name }}</span></a>
                <a href="#email"><span class="white-text email">{{ user.email }}</span></a>
            </div>
        </li>
        <li><a href="/" class='waves-effect'><i class="material-icons">done_all</i>任务<span
                    class="new badge red todobadge" data-badge-caption="todo">0</span></a></li>
        <li><a href="/projects" class='waves-effect'><i class="material-icons">folder</i>项目</a></li>
        <li><a href="/tags" class='waves-effect'><i class="material-icons">bookmark</i>标签</a></li>
        <li><a href="/notes" class='waves-effect'><i class="material-icons">receipt</i>便签</a></li>
        <li>
            <div class="divider"></div>
        </li>


        <li><a href="/groups" class='waves-effect'><i class="material-icons">group</i>群组</a></li>
        <li><a href="/friend" class='waves-effect'><i class="material-icons">email</i>消息</a></li>

        <li><a class="subheader"></a></li>
        <li><a class="subheader"></a></li>
        <li><a class="subheader"></a></li>

        <li>
            <div class="divider"></div>
        </li>
        <li><a href="/setting" class='waves-effect'><i class="material-icons">build</i>设置</a></li>
        <li>
            <div class="divider"></div>
        </li>
    </ul>

    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper">
                <a href="#!" class="brand-logo"><i class="material-icons">cloud</i>Logo</a>
                <ul class="right">
                    <li>当前：个人工作空间</li>
                    <li><a href="sass.html"><i class="material-icons">search</i></a></li>
                    <li><a href="badges.html"><i class="material-icons">view_module</i></a></li>
                    <li><a href="collapsible.html"><i class="material-icons">refresh</i></a></li>
                    <li><a href="mobile.html"><i class="material-icons">power_settings_new</i></a></li>
                </ul>
            </div>
        </nav>
    </div>

    <!-- 弹出来的详细编辑页 -->
    <div id="modal1" class="modal">
        <div class="modal-content">
            <h4>新加好友</h4>
            <form action='{{ url_for("friend.add") }}' method="post" autocomplete="off">

                <div class="modal-box">
                    用户账号：
                    <input type="text" id="id-modal-title" name='email' />
                    <!-- <input type="hidden" id='hideinput' name='project_id' value="" /> -->
                </div>

        </div>

        <div class="modal-footer">
            <!-- <a href="#!" class=" waves-effect waves-green btn-flat">
            </a> -->
            <input type="submit" class='modal-close btn' value="添加">
            </form>

        </div>
    </div>

    <div id="modal2" class="modal">
        <div class="modal-content">
            <h4>聊天</h4>
            <div class="collection chat_container">

            </div>

            <form action='{{ url_for("friend.chat") }}' method="post" autocomplete="off" id=id-newform>

                <div class="modal-box">
                    发送消息：
                    <input type="text" id="id-modal-title2" name='title' />
                    <input id="id-modal-userto" name='userto' value="3333" type="hidden" />

                    <!-- <input type="hidden" id='hideinput' name='project_id' value="" /> -->
                </div>

        </div>

        <div class="modal-footer">
            <!-- <a href="#!" class=" waves-effect waves-green btn-flat">
            </a> -->
            <input type="submit" class='btn' value="发送">
            </form>

        </div>
    </div>



    <main>
        <div class="btn_control">
            <a class="waves-effect waves-light btn modal-trigger" href="#modal1">添加好友</a>


        </div>

        <ul class="collection members_container">

        </ul>





    </main>


    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="/static/js/materialize.js"></script>
    <script>
        M.AutoInit();
        $(document).ready(function () {
            $('.sidenav').sidenav();
            $('input#input_text').characterCounter();

            $("#id-newform").submit(function (e) {
                e.preventDefault(); // avoid to execute the actual submit of the form.
                var form = $(this);
                var url = form.attr('action');
                $.ajax({
                    type: "POST",
                    url: url,
                    data: form.serialize(), // serializes the form's elements.
                    success: function (data) {
                        m = JSON.parse(data)
                        $('#id-modal-title2').val("");
                        log(m); // show response from the script.
                        $('.chat_container').append(
                            `
                            <a href="#!" class="collection-item blue-text"><img src=${m.userfromicon} alt="" class='small'>
                            ${m.updated_time}@${m.title}
                            
                            </a>
                            `
                        )
                    }
                });
            });
        });
        var log = function () {
            console.log.apply(console, arguments)
        }
        var timetodatem = function (unixtime) {
            let date = new Date(unixtime * 1000);
            Y = date.getFullYear() + '-';
            M = (date.getMonth() + 1 < 10 ? '0' + (date.getMonth() + 1) : date.getMonth() + 1) + '-';
            D = date.getDate() + ' ';
            h = date.getHours() + ':';
            m = date.getMinutes() + ':';
            s = date.getSeconds();
            ttt = Y + M + D + h + m + s;
            // 简便方法
            // t2 = date.toLocaleString();
            // log(t2);
            console.log(Y + M + D + h + m + s);
            return ttt;
        }



        //普通表单
        $.ajax({
            type: 'GET',
            url: './all',
            success: function (r) {
                r = JSON.parse(r)
                log(r)
                inserMembers(r)
            }
        }).fail(function (jqXHR, textStatus, errorThrown) {
            //错误信息
            console.log("AJAX FAIL")
        });

        let inserMembers = function (members) {
            for (let i in members) {
                log(i, ':', members[i])

                $('.members_container').append(
                    `
                    <li class="collection-item avatar" data-id=${members[i].user_id}>
                    <img src="${members[i].icon}" alt="" class="circle">
                    <span class="title">${members[i].name}</span>
                    <p>${members[i].email} <br>
                    </p>
                    <a class="waves-effect waves-light btn modal-trigger" href="#modal2">发消息</a>
                    </li>
                    `

                    //<i class="material-icons small-icon left reorderbtn">reorder</i>
                )
            }
        }




    </script>
    <script>
        $('.members_container').click(function (event) {
            target = event.target;
            m_id = $(target).parents("li").attr('data-id');

            if (target.classList.contains('btn')) {
                clearInterval()
                console.log(m_id)
                currentuser = '{{user.name}}'
                console.log(currentuser)
                $('#id-modal-userto').attr("value", m_id)
                $('.chat_container').empty()
                $.ajax({
                    type: 'POST',
                    url: './chatall',
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify({
                        'userto': m_id,
                    }),
                    success: function (r) {
                        console.log(r)
                        let cct = $('.chat_container')
                        let last = 0
                        for (let i in r) {
                            if (r[i].userfrom != currentuser) {
                                last = r[i].updated_time
                                cct.append(
                                    `
                                    <a href="#!" class="collection-item red-text"><img src=${r[i].userfromicon} alt="" class='small'>
                                    ${r[i].updated_time}@${r[i].title}
                                        </a>
                                    `
                                )
                            }
                            else {
                                last = r[i].updated_time
                                cct.append(
                                    `
                                    <a href="#!" class="collection-item blue-text"><img src=${r[i].userfromicon} alt="" class='small'>
                                    ${r[i].updated_time}@${r[i].title}</a>
                                    `
                                )

                            }

                        }
                        window.setInterval(function () {
                            /// call your function here
                            $.ajax({
                                type: 'POST',
                                url: './chatre',
                                dataType: "json",
                                contentType: "application/json; charset=utf-8",
                                data: JSON.stringify({
                                    'last': last,
                                    'userto': m_id,
                                }),
                                success: function (r) {
                                    console.log(r)
                                    let cct = $('.chat_container')
                                    for (let i in r) {
                                        if (r[i].userfrom != currentuser) {
                                            last = r[i].updated_time
                                            cct.append(
                                                `
                                                <a href="#!" class="collection-item red-text"><img src=${r[i].userfromicon} alt="" class='small'>
                                                ${r[i].updated_time}@${r[i].title}</a>
                                                `
                                            )
                                        }
                                        // else {
                                        //     last = r[i].updated_time
                                        //     cct.append(
                                        //         `
                                        //         <a href="#!" class="collection-item blue-text">${r[i].updated_time}@${r[i].title}</a>
                                        //         `
                                        //     )

                                        // }

                                    }
                                }
                            }).fail(function (jqXHR, textStatus, errorThrown) {
                                //错误信息
                                console.log("AJAX FAIL FAIL")
                            });
                        }, 1000);

                    }
                }).fail(function (jqXHR, textStatus, errorThrown) {
                    //错误信息
                    console.log("AJAX FAIL")
                });
            }

        })
    </script>
</body>

</html>