<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>自在Todo</title>
    <link rel="shortcut icon" href="/static/images/man.png">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="/static/css/materialize.css">
    <link href="https://cdn.bootcss.com/material-design-icons/3.0.1/iconfont/material-icons.min.css" rel="stylesheet">
    <!-- <link href="https://cdn.bootcss.com/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css"
        rel="stylesheet"> -->

    <link rel="stylesheet" href="/static/css/jquery.datetimepicker.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <style>
        .modal-project {
            position: absolute;
            top: -15px;
            left: 15px;
        }

        .modal-tag {
            position: absolute;
            top: -15px;
            left: 15px;
        }

        .input-field {
            width: 360px;
        }
    </style>
</head>

<body>

    <!-- <div class="progress hide jindutiao">
        <div class="indeterminate"></div>
    </div> -->

    <!-- 左侧边栏 -->
    <ul class="sidenav sidenav-fixed">
        <li>
            <div class="user-view">
                <div class="background">
                    <img src="/static/images/moutain2.jpg">
                </div>
                <a href="#user"><img class="circle" src="{{ user.icon }}">
                    <img class="circle" src="{{ group.icon }}" style="
                    position: absolute;
                    left: 120px;
                    top: 32px;
                "></a>
                <a href="#name"><span class="white-text name">{{ user.name }}</span></a>
                <a href="#email"><span class="white-text email">{{ user.email }}</span></a>
            </div>
        </li>
        <li><a href="." class='waves-effect'><i class="material-icons">done_all</i>任务<span
                    class="new badge red todobadge" data-badge-caption="todo">0</span></a></li>
        <li><a href="./projects" class='waves-effect'><i class="material-icons">folder</i>项目</a></li>
        <li><a href="./tags" class='waves-effect'><i class="material-icons">bookmark</i>标签</a></li>
        <li><a href="./notes" class='waves-effect'><i class="material-icons">receipt</i>便签</a></li>


        <li>
            <div class="divider"></div>
        </li>


        <li><a href="/groups" class='waves-effect'><i class="material-icons">group</i>群组</a></li>
        <li><a href="./members" class='waves-effect'><i class="material-icons">face</i>成员</a></li>
        <li><a href="./performance" class='waves-effect'><i class="material-icons">assessment</i>绩效</a>
        </li>

        <li><a class="subheader">Subheader</a></li>

        <li class='margin-bottom'><a class="waves-effect" href="#!">Third Link With Waves</a></li>
    </ul>

    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper">
                <a href="#!" class="brand-logo"><i class="material-icons">cloud</i>Logo</a>
                <ul class="right">
                    <li>当前群组：{{group.name}}</li>
                    <li><a href="sass.html"><i class="material-icons">search</i></a></li>
                    <li><a href="badges.html"><i class="material-icons">view_module</i></a></li>
                    <li><a href="collapsible.html"><i class="material-icons">refresh</i></a></li>
                    <li><a href="/"><i class="material-icons">home</i></a></li>
                </ul>
            </div>
        </nav>
    </div>

    <!-- 弹出来的详细编辑页 -->
    <div id="modal1" class="modal">
        <div class="modal-content">
            <h4>Modal Header</h4>
            <form action="./reorder" method="post" autocomplete="off" id=id-newform>

                <div class="modal-box">
                    <i class="small material-icons">alarm</i>
                    <input type="text" id="datetimepicker" name='dead_line' />
                    <input type="hidden" id='hideinput' name='todo_id' value="" />

                </div>

                <div class="modal-box">
                    <i class="small material-icons left">grade</i>
                    <label class="left">
                        <input class="with-gap" name="rank" value=3 type="radio" checked />
                        <span class="red-text text-darken-1">
                            紧急3
                        </span>
                    </label>

                    <label class="left">
                        <input class="with-gap" name="rank" value=2 type="radio" />
                        <span class="orange-text">
                            重要2
                        </span>
                    </label>

                    <label class="left">
                        <input class="with-gap" name="rank" value=1 type="radio" />
                        <span>
                            不重要1
                        </span>
                    </label>
                </div>
                <div class="modal-box">
                    <i class="small material-icons">folder_open</i>
                    <div class="input-field modal-project">
                        <select class="project_select" name="project">
                            <option value="" disabled selected>选择项目</option>
                        </select>
                    </div>
                </div>
                <div class="modal-box">
                    <i class="small material-icons">turned_in_not</i>
                    <div class="input-field modal-tag">
                        <select multiple class="tag_select" name='tag'>
                            <option value="" disabled selected>选择标签</option>
                        </select>
                    </div>
                </div>
                <div class="modal-box">
                    <i class="small material-icons">folder_open</i>
                    asaaaaaaaaaa
                </div>


        </div>

        <div class="modal-footer">
            <input type="submit" class='modal-close btn' value="保存">
            </form>
        </div>
    </div>


    <main>
        <div class="btn_control">
            <a class="waves-effect waves-light btn red" id="clear-btn">
                <i class="material-icons left">clear_all</i>Clear
            </a>
        </div>

        <div class="todo_container" id='todo-container-3'>
            <h4>紧急3</h4>
            <form class="" action="{{group.group_id}}/add" method="post" autocomplete="off">
                <div class="row">
                    <div class="input-field col s12">
                        <input id="input_text" type="text" data-length="15" name="title" maxlength="15"
                            class="pink-text invalid">
                        <input type="hidden" name='rank' value=3>
                        <label for="input_text" class="">输入待办事项</label>
                    </div>
                </div>
            </form>

        </div>
        <div class="todo_container" id='todo-container-2'>
            <h4>重要2</h4>
            <form class="" action="{{group.group_id}}/add" method="post" autocomplete="off">
                <div class="row">
                    <div class="input-field col s12">
                        <input id="input_text" type="text" data-length="15" name="title" maxlength="15"
                            class="pink-text invalid">
                        <input type="hidden" name='rank' value=2>
                        <label for="input_text" class="">输入待办事项</label>
                    </div>
                </div>
            </form>

        </div>
        <div class="todo_container" id='todo-container-1'>
            <h4>不重要1</h4>
            <form class="" action="{{group.group_id}}/add" method="post" autocomplete="off">
                <div class="row">
                    <div class="input-field col s12">
                        <input id="input_text" type="text" data-length="15" name="title" maxlength="15"
                            class="pink-text invalid">
                        <input type="hidden" name='rank' value=1>
                        <label for="input_text" class="">输入待办事项</label>
                    </div>
                </div>
            </form>

        </div>
    </main>


    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="/static/js/jquery.datetimepicker.js"></script>
    <script>
        M.AutoInit();
        $(document).ready(function () {
            $('.sidenav').sidenav();
            $('input#input_text').characterCounter();
            $('#datetimepicker').datetimepicker({ step: 10 });

            // $(".todo_cell").hover(function () {
            //     $(".edit-btns").removeClass("hide");
            // }, function () {
            //     $(".edit-btns").addClass("hide");
            // });
            $(document).on('mouseenter', '.todo_cell', function () {
                $(this).find('.edit-btns').removeClass('hide');
                $(this).find('.time').addClass('hide');
            })
                .on('mouseleave', '.todo_cell', function () {
                    $(this).find('.edit-btns').addClass('hide');
                    $(this).find('.time').removeClass('hide');

                });
        });


    </script>
    <script>
        // 自己的 ajax 轮子

        var ajax = function (method, path, headers, data, reseponseCallback) {
            var r = new XMLHttpRequest()
            // 设置请求方法和请求地址
            r.open(method, path, true)
            // 设置发送的数据的格式
            r.setRequestHeader('Content-Type', 'application/json')
            // r.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded')
            // 注册响应函数
            r.onreadystatechange = function () {
                if (r.readyState === 4) {
                    reseponseCallback(r)
                }
                // if (r.readyState === 4) {
                //     console.log('state change', r, r.status, r.response)
                //     var response = JSON.parse(r.response)
                //     console.log('response', response)
                // } else {
                //     console.log('change')
                // }
            }
            // 发送请求
            r.send(data)
        }
        // 等待函数
        function sleep(delay) {
            var start = (new Date()).getTime();
            while ((new Date()).getTime() - start < delay) {
                continue;
            }
        }
        // 刷新网页时遍历插入 todocell 的函数
        let inserTodos = function (todos) {
            let undone = 0;
            for (let i in todos) {
                console.log(i, ':', todos[i])
                let checked = '';
                if (todos[i].done === true) {
                    flag = true;
                    checked = 'checked=';
                }
                else {
                    undone = undone + 1;
                }
                let rank = todos[i].rank
                let s = '#todo-container-' + rank
                console.log(s)
                if (todos[i].dead_line === null) {
                    todos[i].dead_line = ''
                }
                $(s).append(
                    `
                    <div class="todo_cell row item card-panel hoverable" data-id="${todos[i].todo_id}">
                    <span>
                    <label>
                        <input class="checkbox" type="checkbox" ${checked}/>
                        <span class="todo_title">${todos[i].title}</span>
                    </label>
                    </span>

                    <span class="time right pink-text">
                        ${todos[i].dead_line}
                    </span>

                    <span class="edit-btns right hide">
                    <a herf='#!' class="right delete-btn">
                        <i class="material-icons small-icon left clearbtn">clear</i>
                    </a>
                    <a herf='#!' class="right edit-btn">
                        <i class="material-icons small-icon left editbtn">mode_edit</i>
                    </a>
                    <a href='#modal1' class="right reorder-btn modal-trigger">
                        <i class="material-icons small-icon left reorderbtn">reorder</i>
                    </a>

                    </span>

                    </div>
                    `
                    //<i class="material-icons small-icon left reorderbtn">reorder</i>
                )
            }
            console.log(undone)
            $('.todobadge').text(undone)
            console.log($('.todobadge').text())

        }
        // let todos = undefined 应该没什么用
        ajax('GET', './all', null, '', function (r) {
            todos = JSON.parse(r.response)
            console.log(typeof (todos))
            inserTodos(todos)
            //console.log(r.status, r.response)
        })

        let inserProjectOption = function (projects) {
            for (let i in projects) {
                console.log('插入li')

                $('.project_select').append(
                    `
                    <option value="${projects[i].project_id}">${projects[i].title}</option>
                    `
                )
            }
        }
        $.ajax({
            type: 'GET',
            url: './projects/all',
            success: function (r) {
                r = JSON.parse(r)
                console.log(r)
                inserProjectOption(r)
                $('select').formSelect();

            }
        }).fail(function (jqXHR, textStatus, errorThrown) {
            //错误信息
            console.log("AJAX FAIL")
        });

        let inserTagOption = function (tags) {
            for (let i in tags) {
                console.log('插入li')

                $('.tag_select').append(
                    `
                    <option value="${tags[i].tag_id}">${tags[i].title}</option>
                    `
                )
            }
        }
        $.ajax({
            type: 'GET',
            url: './tags/all',
            success: function (r) {
                r = JSON.parse(r)
                console.log(r)
                inserTagOption(r)
                $('select').formSelect();

            }
        }).fail(function (jqXHR, textStatus, errorThrown) {
            //错误信息
            console.log("AJAX FAIL")
        });

    </script>
    <script>
        // 这个 script 的用途为点到按钮后产生事件， 然后传给服务器， 再由返回数据改变view

        $('.todo_container').click(function (event) {
            $('.progress').removeClass('hide')

            target = event.target
            // target 选中的是todo_cell下面的东西
            todo_id = $(target).parents("div").attr('data-id');

            let dead_line = $(target).parents("div .todo_cell").find('.time').text();
            dead_line = dead_line.trim();
            console.log('!!dead line1', dead_line)

            // 当按到checkbox
            if (target.classList.contains('todo_title')) {
                console.log('checkbox clicked', todo_id)
                var data = {
                    'todo_id': todo_id,
                }
                data = JSON.stringify(data)
                ajax('POST', '/check', null, data, function (r) {
                    check = JSON.parse(r.response)
                    console.log(check)
                    // setTimeout($('.progress').addClass('hide'), 1000000)
                    $('.progress').addClass('hide')

                })
            }

            // 当按到删除按钮
            else if (target.classList.contains('clearbtn')) {
                console.log('ckick del', todo_id)
                var data = {
                    'todo_id': todo_id,
                }
                data = JSON.stringify(data)
                ajax('POST', '/delete', null, data, function (r) {
                    check = JSON.parse(r.response)
                    console.log('delete', check)
                    if (check === 1) {
                        t = `[data-id='${todo_id}']`
                        console.log(t)
                        $(t).remove()
                        $('.progress').addClass('hide')

                    }
                })
            }

            // 当点到reorder按钮，
            else if (target.classList.contains('reorderbtn')) {
                console.log('reorder click!!!')
                t = `[data-id='${todo_id}']`
                title = $(t).find('.todo_title').text()
                $('.modal-content h4').text(title)
                $('.modal-content #hideinput').val(todo_id)
            }

            // 当按到编辑按钮
            else if (target.classList.contains('editbtn')) {
                console.log('edit', todo_id)
                t = `[data-id='${todo_id}']`
                // empty删除选中元素的子元素
                t = $(t).empty()
                console.log(t)
                input = `
                    <input type="text" name="change_title" class="pink-text">
                `
                t = $(t).append(input)
                $(t).keyup(function (e) {
                    var key = e.which;
                    if (key == 13) {
                        // title is a string type
                        let title = $(t).children("input").val();

                        console.log('!!title', title)
                        console.log('!!enter')
                        var data = {
                            'todo_id': todo_id,
                            'title': title,
                        }
                        data = JSON.stringify(data)
                        ajax('POST', '/edit', null, data, function (r) {
                            eid = JSON.parse(r.response)
                            console.log(eid)
                            $(t).empty()
                            console.log('!!dead line2', dead_line)
                            cell = `
                            <span>
                            <label>
                            <input class="checkbox" type="checkbox"/>
                            <span class="todo_title">${title}</span>
                            </label>
                            </span>

                            <span class="time right pink-text">
                            ${dead_line}
                            </span>

                            <span class="edit-btns right">
                            <a herf='#!' class="right  delete-btn">
                            <i class="material-icons small-icon left clearbtn">clear</i>
                            </a>
                            <a herf='#!' class="right  edit-btn">
                            <i class="material-icons small-icon left editbtn">mode_edit</i>
                            </a>
                            <a href='#modal1' class="right  reorder-btn modal-trigger">
                            <i class="material-icons small-icon left reorderbtn">reorder</i>
                            </a>
                            </span>
                            
                            `
                            $(t).append(cell)
                            $('.progress').addClass('hide')

                        })


                    }
                })


            }



        })


    </script>
</body>

</html>