<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>自在Todo</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
    <main>
        <h2>TODO</h2>

        <form action=/add method="post">
            <input type="text" name="title" class=pink-text>
            <!-- <button>Submit</button> -->
        </form>

        <div class="todo_container">
            <div class="todo_cell row item card-panel hoverable" data-id="4705">
                <span>
                    <label>
                        <input class="checkbox" type="checkbox" />
                        <span class="todo_title">**TEST演示 This is a todo cell</span>
                    </label>
                </span>

                <span class="edit-btns right">
                    <a herf='' class="right button delete-btn" data-href="/item/4840/delete">
                        <i class="material-icons small-icon left clearbtn">clear</i>
                    </a>
                    <a class="right button edit-btn">
                        <i class="material-icons small-icon left editbtn">mode_edit</i>
                    </a>
                </span>
            </div>

            <div class="todo_cell row item card-panel hoverable" data-id="4705">
                <form action="/edit" method="POST">
                    <input type="text" name="change_title" class="pink-text">
                </form>
            </div>
        </div>
    </main>


    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script>
        // 自己的 ajax 轮子
        var ajax = function (method, path, headers, data, reseponseCallback) {
            var r = new XMLHttpRequest()
            // 设置请求方法和请求地址
            r.open(method, path, true)
            // 设置发送的数据的格式
            r.setRequestHeader('Content-Type', 'application/json')
            // r.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded')
            // 注册响应函数
            r.onreadystatechange = function () {
                if (r.readyState === 4) {
                    reseponseCallback(r)
                }
                // if (r.readyState === 4) {
                //     console.log('state change', r, r.status, r.response)
                //     var response = JSON.parse(r.response)
                //     console.log('response', response)
                // } else {
                //     console.log('change')
                // }
            }
            // 发送请求
            r.send(data)
        }
        // 插入 todocell 的函数
        let inserTodos = function (todos) {
            for (let i in todos) {
                console.log(i, ':', todos[i])
                let checked = ''
                if (todos[i].done === true) {
                    flag = true
                    checked = 'checked='
                }
                $('.todo_container').append(
                    `
                    <div class="todo_cell row item card-panel hoverable" data-id="${todos[i].todo_id}">
                    <span>
                    <label>
                        <input class="checkbox" type="checkbox" ${checked}/>
                        <span class="todo_title">${todos[i].title}</span>
                    </label>
                    </span>

                    <span class="edit-btns right">
                    <a herf='' class="right button delete-btn" data-href="/item/4840/delete">
                        <i class="material-icons small-icon left clearbtn">clear</i>
                    </a>
                    <a class="right button edit-btn">
                        <i class="material-icons small-icon left editbtn">mode_edit</i>
                    </a>
                    </span>
                    </div>
                    `
                )
            }
        }
        let todos = undefined
        ajax('GET', '/all', null, '', function (r) {
            todos = JSON.parse(r.response)
            console.log(typeof (todos))
            inserTodos(todos)
            //console.log(r.status, r.response)
        })

    </script>
    <script>
        // 这个 script 的用途为改变 done 的状态， 然后传给服务器
        // $('.todo_cell').click(function (event) {
        //     console.log('clicked')
        // })
        $('.todo_container').click(function (event) {
            target = event.target
            todo_id = $(target).parents("div").attr('data-id');
            // 当按到checkbox
            if (target.classList.contains('todo_title')) {
                console.log('checkbox clicked', todo_id)
                var data = {
                    'todo_id': todo_id,
                }
                data = JSON.stringify(data)
                ajax('POST', '/check', null, data, function (r) {
                    check = JSON.parse(r.response)
                    console.log(check)
                })
            }

            // 当按到删除按钮
            else if (target.classList.contains('clearbtn')) {
                console.log('ckick del', todo_id)
                var data = {
                    'todo_id': todo_id,
                }
                data = JSON.stringify(data)
                ajax('POST', '/delete', null, data, function (r) {
                    check = JSON.parse(r.response)
                    console.log('delete', check)
                    if (check === 1) {
                        t = `[data-id='${todo_id}']`
                        console.log(t)
                        $(t).remove()
                    }
                })
            }

            // 当按到编辑按钮
            else if (target.classList.contains('editbtn')) {
                console.log('edit', todo_id)
                t = `[data-id='${todo_id}']`
                // empty删除选中元素的子元素
                t = $(t).empty()
                console.log(t)
                input = `
                    <input type="text" name="change_title" class="pink-text">
                `
                t = $(t).append(input)
                $(t).keyup(function (e) {
                    var key = e.which;
                    if (key == 13) {
                        // title is a string type
                        title = $(t).children("input").val()
                        console.log('!!title', title)
                        console.log('!!enter')
                        var data = {
                            'todo_id': todo_id,
                            'title': title,
                        }
                        data = JSON.stringify(data)
                        ajax('POST', '/edit', null, data, function (r) {
                            eid = JSON.parse(r.response)
                            console.log(eid)
                            cell = title
                            $(t).append(cell)
                        })


                    }
                })


            }



        })


    </script>
</body>

</html>